@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --rich-indigo: #4b0082;
  --teal-blue: #008080;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto);
  --font-serif: var(--font-merriweather);
  --font-roboto: var(--font-roboto);
  --font-merriweather: var(--font-merriweather);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
}

.font-roboto {
  font-family: var(--font-roboto);
}

.font-merriweather {
  font-family: var(--font-merriweather);
}
